langchain-ollama
langchain-community
langchain-groq
langchain-mongodb
langchain-openai
ollama
streamlit
SpeechRecognition
pyttsx3
PyAudio
sqlalchemy
langgraph
atlassian-python-api
python-dotenv
ipython